---
http_interactions:
- request:
    method: get
    uri: https://mainnet-v4.tonhubapi.com/block/latest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 18 May 2022 17:52:41 GMT
    body:
      encoding: UTF-8
      string: '{"last":{"seqno":20649765,"shard":"-9223372036854775808","workchain":-1,"fileHash":"WjTcysNd2k8aawaunlk/e5KnWAAaHLwY1/iZ8wPdtIM=","rootHash":"9bDzloOfnwxxOFJJ/zTIrQ2r/peivtkZz4JXyw407+I="},"init":{"fileHash":"XplPz01CXAps5qeSWUtxcyBfdAo5zVb1N979KLSKD24=","rootHash":"F6OpKZKqvqeFp6CQmFomXNMfMj2EnaUSOXN+Mh+wVWk="},"stateRootHash":"m8Xj5QB0nSUc7CjgulKA88W5h4/68DJaFIviptbaYAo=","now":1652896355}'
  recorded_at: Wed, 18 May 2022 17:52:41 GMT
- request:
    method: get
    uri: https://mainnet-v4.tonhubapi.com/block/20649765
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 18 May 2022 17:52:42 GMT
    body:
      encoding: UTF-8
      string: '{"exist":true,"block":{"shards":[{"workchain":-1,"seqno":20649765,"shard":"-9223372036854775808","rootHash":"9bDzloOfnwxxOFJJ/zTIrQ2r/peivtkZz4JXyw407+I=","fileHash":"WjTcysNd2k8aawaunlk/e5KnWAAaHLwY1/iZ8wPdtIM=","transactions":[{"account":"Ef8SYc83pm5JkGt0p3TQRkuiM58O9Cr3waUtR9OoFq716uj0","hash":"p2PkVSWpsXQreJADS52yRF9hp8SyDNDwILdRYaq8oTI=","lt":"28019795000001"},{"account":"Ef8zMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzM0vF","hash":"U++KGraqqN8L+48UJUFxSvnhrAv21KOCNOkHFEFJbAE=","lt":"28019795000001"},{"account":"Ef8zMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzM0vF","hash":"Mspq3eU1Wp/nyemvHrEpGQ4Jc9ZREELy2KvecUadWak=","lt":"28019795000002"},{"account":"Ef80UXx731GHxVr0-LYf3DIViMerdo3uJLAG3ykQZFjXz2kW","hash":"QzlTduKfjeiXByx0At9cVIAgGCcSbYO0w+vaFJXwlYM=","lt":"28019795000001"},{"account":"Ef80UXx731GHxVr0-LYf3DIViMerdo3uJLAG3ykQZFjXz2kW","hash":"zUoXdqPp05SDVzfAc/DjOdOx7501ylf7lmowA0hZTTw=","lt":"28019795000003"},{"account":"Ef9VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVbxn","hash":"AdJx/CECz4RVHMznu5ctLh37ZnI1sRSI+V/8tlEc4do=","lt":"28019795000003"}]},{"workchain":0,"seqno":25845442,"shard":"-9223372036854775808","rootHash":"kkZIJ3IrD7vF7xK4Aundt1Exuu+7RP2fuIjZg+7xmvM=","fileHash":"f4W7lTg7THsPSv8+pTH6vHDZOhjGyloiBpq11DVgooU=","transactions":[{"account":"EQAcNCCM7-d1fy7nrXKEEyyF8Pt4mExLCRvAgU6v7z1NGldL","hash":"AcO34eR3N+qA4F3uBuNMHQTFdeHLTafPyOLjV+O1Tgk=","lt":"28019793000003"},{"account":"EQBcTZ4DGTf-n-G8IPIZSVqi--1AC8IJKTvxBwDoWTpmci8p","hash":"T3Z/PirTVcCVVyRJ3skUxGxOwYdwPc0/aAPTOsYAOoo=","lt":"28019793000001"}]}]}}'
  recorded_at: Wed, 18 May 2022 17:52:42 GMT
recorded_with: VCR 6.1.0
