---
http_interactions:
- request:
    method: get
    uri: https://mainnet-v4.tonhubapi.com/block/latest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 18 May 2022 16:05:50 GMT
    body:
      encoding: UTF-8
      string: '{"last":{"seqno":20647942,"shard":"-9223372036854775808","workchain":-1,"fileHash":"TvfuSC9/tpZ28YPm/6bLRlV1QLfYk72Fiu+zJXc0lPU=","rootHash":"MD/AFNpfQfCt0UA64qZKvah64B8uODA6dIJbXzuIfbk="},"init":{"fileHash":"XplPz01CXAps5qeSWUtxcyBfdAo5zVb1N979KLSKD24=","rootHash":"F6OpKZKqvqeFp6CQmFomXNMfMj2EnaUSOXN+Mh+wVWk="},"stateRootHash":"OQ+JQuza+f1Ocw7aK9zf5FaIqMk/8P8/xIaHFrsJTdo=","now":1652889946}'
  recorded_at: Wed, 18 May 2022 16:05:50 GMT
recorded_with: VCR 6.1.0
