---
http_interactions:
- request:
    method: get
    uri: https://toncenter.com/api/v2/getConsensusBlock
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - 9cecd4b376aa13928fb399b462ec1a80e7e9453fa56eabd277c6473568fc88db
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"consensus_block":20435145,"timestamp":1652133131.381526}}'
  recorded_at: Mon, 09 May 2022 21:52:15 GMT
recorded_with: VCR 6.1.0
