---
http_interactions:
- request:
    method: get
    uri: https://toncenter.com/api/v2/getBlockTransactions?seqno=20644653&shard=-9223372036854775808&workchain=0
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - 9cecd4b376aa13928fb399b462ec1a80e7e9453fa56eabd277c6473568fc88db
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"@type":"blocks.transactions","id":{"@type":"ton.blockIdExt","workchain":0,"shard":"-9223372036854775808","seqno":20644653,"root_hash":"9hCqKdN7pEAvWdI2ABT9r4z7mcR0+byB44M7GvqSl4w=","file_hash":"ZKCatY0/lpt2qvFY3fmqfHnUBl7JJLjMfBZtD0iTBHs="},"req_count":40,"incomplete":false,"transactions":[],"@extra":"1652878363.3523128:6:0.7865011617438844"}}'
  recorded_at: Wed, 18 May 2022 12:55:24 GMT
recorded_with: VCR 6.1.0
