---
http_interactions:
- request:
    method: get
    uri: https://toncenter.com/api/v2/shards?seqno=20435145
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - 9cecd4b376aa13928fb399b462ec1a80e7e9453fa56eabd277c6473568fc88db
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"@type":"blocks.shards","shards":[{"@type":"ton.blockIdExt","workchain":0,"shard":"-9223372036854775808","seqno":25613124,"root_hash":"D5MXlmYU1qMUqVSaI/teF/ImnnIukFg7VA+lsDYxs5c=","file_hash":"UmOQpJvjMFyEegRYDkBsYiHfonknrD0Z88G9lLuQlVE="}],"@extra":"1652133157.9859903:2:0.5932559618505804"}}'
  recorded_at: Mon, 09 May 2022 21:52:46 GMT
recorded_with: VCR 6.1.0
