---
http_interactions:
- request:
    method: get
    uri: https://toncenter.com/api/v2/getConsensusBlock
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - 9cecd4b376aa13928fb399b462ec1a80e7e9453fa56eabd277c6473568fc88db
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"consensus_block":20435220,"timestamp":1652133387.733388}}'
  recorded_at: Mon, 09 May 2022 21:56:32 GMT
- request:
    method: get
    uri: https://toncenter.com/api/v2/getBlockTransactions?seqno=25613200&shard=-9223372036854775808&workchain=0
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - 9cecd4b376aa13928fb399b462ec1a80e7e9453fa56eabd277c6473568fc88db
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"@type":"blocks.transactions","id":{"@type":"ton.blockIdExt","workchain":0,"shard":"-9223372036854775808","seqno":25613200,"root_hash":"u5EdwL42bKZa/TtMXIkvO2GDGrIwAc5rR+6THrACPP8=","file_hash":"d9c+5V+H3YMa73meEJsCwzR2j7TO5szdIe9VpGyNL60="},"req_count":40,"incomplete":false,"transactions":[{"@type":"blocks.shortTxId","mode":135,"account":"0:eec8e3c0f8b8c87164b9dd2397913716be6f57f84c1255a0db0ff053218a8830","lt":"27781973000001","hash":"oJjBUrND7YSSNLNCUrTVPJyPBIe6ycuyZBQWF8RQ4Jk="}],"@extra":"1652133403.0529237:3:0.43074785507607083"}}'
  recorded_at: Mon, 09 May 2022 21:56:32 GMT
[...]
- request:
    method: get
    uri: https://toncenter.com/api/v2/getBlockTransactions?seqno=25613202&shard=-9223372036854775808&workchain=0
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - 9cecd4b376aa13928fb399b462ec1a80e7e9453fa56eabd277c6473568fc88db
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"@type":"blocks.transactions","id":{"@type":"ton.blockIdExt","workchain":0,"shard":"-9223372036854775808","seqno":25613202,"root_hash":"8RxP8CtPOGxaxjoSOl9lNIsRaxCTHwSn/Ll2XDx2fuU=","file_hash":"lcH8edVGPLjMwFoXmUCEvRcRlBbor4z5xW+68xxThic="},"req_count":40,"incomplete":false,"transactions":[{"@type":"blocks.shortTxId","mode":135,"account":"0:4de6e3329e03c1286da6c1799faa3deb6563f6b4b31a63d36c9943a2254677af","lt":"27781975000001","hash":"UXhNY4fYaBczojfdMMBjDMcbePMNVu2Pxk85HumdGvs="},{"@type":"blocks.shortTxId","mode":135,"account":"0:5090ed3e29ec035eb44480b80ddddcac006d87030a964939aeb7284ffd2c80e7","lt":"27781975000003","hash":"9MQlqaeSstmTln5DpMh0fkJUUWk2HO5O7svr330sdrk="},{"@type":"blocks.shortTxId","mode":135,"account":"0:7e99fed26bcca2a3a6c3bc9442b6b779aee38cd1e6762793f5e07f0bcabc8c7a","lt":"27781975000004","hash":"H+0/+6UIsSXXoVu8NX0JfgDrDsUYOrk0XX3FszYuV4A="}],"@extra":"1652133413.590611:12:0.65846417202482"}}'
  recorded_at: Mon, 09 May 2022 21:56:33 GMT
recorded_with: VCR 6.1.0
