---
http_interactions:
- request:
    method: get
    uri: https://toncenter.com/api/v2/getConsensusBlock
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - 9cecd4b376aa13928fb399b462ec1a80e7e9453fa56eabd277c6473568fc88db
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"consensus_block":20435218,"timestamp":1652133380.510007}}'
  recorded_at: Mon, 09 May 2022 21:56:22 GMT
- request:
    method: get
    uri: https://toncenter.com/api/v2/shards?seqno=20435218
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - 9cecd4b376aa13928fb399b462ec1a80e7e9453fa56eabd277c6473568fc88db
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"@type":"blocks.shards","shards":[{"@type":"ton.blockIdExt","workchain":0,"shard":"-9223372036854775808","seqno":25613200,"root_hash":"u5EdwL42bKZa/TtMXIkvO2GDGrIwAc5rR+6THrACPP8=","file_hash":"d9c+5V+H3YMa73meEJsCwzR2j7TO5szdIe9VpGyNL60="}],"@extra":"1652133402.6340597:4:0.7093249883988162"}}'
  recorded_at: Mon, 09 May 2022 21:56:22 GMT
- request:
    method: get
    uri: https://toncenter.com/api/v2/getBlockTransactions?seqno=25613200&shard=-9223372036854775808&workchain=0
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - 9cecd4b376aa13928fb399b462ec1a80e7e9453fa56eabd277c6473568fc88db
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"@type":"blocks.transactions","id":{"@type":"ton.blockIdExt","workchain":0,"shard":"-9223372036854775808","seqno":25613200,"root_hash":"u5EdwL42bKZa/TtMXIkvO2GDGrIwAc5rR+6THrACPP8=","file_hash":"d9c+5V+H3YMa73meEJsCwzR2j7TO5szdIe9VpGyNL60="},"req_count":40,"incomplete":false,"transactions":[{"@type":"blocks.shortTxId","mode":135,"account":"0:eec8e3c0f8b8c87164b9dd2397913716be6f57f84c1255a0db0ff053218a8830","lt":"27781973000001","hash":"oJjBUrND7YSSNLNCUrTVPJyPBIe6ycuyZBQWF8RQ4Jk="}],"@extra":"1652133403.0529237:3:0.43074785507607083"}}'
  recorded_at: Mon, 09 May 2022 21:56:22 GMT
recorded_with: VCR 6.1.0
