---
http_interactions:
- request:
    method: get
    uri: https://mainnet-v4.tonhubapi.com/block/latest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2022 22:47:41 GMT
    body:
      encoding: UTF-8
      string: '{"last":{"seqno":21510000,"shard":"-9223372036854775808","workchain":-1,"fileHash":"7CYkhnipcoOnVR9a1nNoXyr2js5WR1EFVQq2FStWmlw=","rootHash":"iTHgcSjNFeZ8LKNHpURoUyeXFtxXm4MmlF1SuMQAWcQ="},"init":{"fileHash":"XplPz01CXAps5qeSWUtxcyBfdAo5zVb1N979KLSKD24=","rootHash":"F6OpKZKqvqeFp6CQmFomXNMfMj2EnaUSOXN+Mh+wVWk="},"stateRootHash":"3oN6oyOW5f7jAYcYWHTadvMYjxSLdnbkCxslzp2yJ6Q=","now":1655851656}'
  recorded_at: Tue, 21 Jun 2022 22:47:43 GMT
- request:
    method: get
    uri: https://mainnet-v4.tonhubapi.com/block/21510000/EQDJtQ19LiY07Qq_cFkrP9OEkXHXLh4mkjaSCcdDdAdQE1hZ
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 21 Jun 2022 22:47:43 GMT
    body:
      encoding: UTF-8
      string: '{"account":{"state":{"type":"uninit"},"balance":{"coins":"0","currencies":{}},"last":null,"storageStat":null},"block":{"workchain":-1,"seqno":21510000,"shard":"-9223372036854775808","fileHash":"7CYkhnipcoOnVR9a1nNoXyr2js5WR1EFVQq2FStWmlw=","rootHash":"iTHgcSjNFeZ8LKNHpURoUyeXFtxXm4MmlF1SuMQAWcQ="}}'
  recorded_at: Tue, 21 Jun 2022 22:47:43 GMT
recorded_with: VCR 6.1.0
