---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest?CMC_PRO_API_KEY=3aac14b4-3e03-417c-b614-b034bc2a463d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Traefik-Route:
      - coinmarketcap-pro-apis
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"timestamp":"2022-12-06T07:49:03.576Z","error_code":0,"error_message":null,"elapsed":16,"credit_count":1,"notice":null,"total_count":8962},"data":[{"id":1,"name":"Bitcoin","symbol":"BTC","slug":"bitcoin","num_market_pairs":9864,"date_added":"2013-04-28T00:00:00.000Z","tags":["mineable","pow","sha-256","store-of-value","state-channel","coinbase-ventures-portfolio","three-arrows-capital-portfolio","polychain-capital-portfolio","binance-labs-portfolio","blockchain-capital-portfolio","boostvc-portfolio","cms-holdings-portfolio","dcg-portfolio","dragonfly-capital-portfolio","electric-capital-portfolio","fabric-ventures-portfolio","framework-ventures-portfolio","galaxy-digital-portfolio","huobi-capital-portfolio","alameda-research-portfolio","a16z-portfolio","1confirmation-portfolio","winklevoss-capital-portfolio","usv-portfolio","placeholder-ventures-portfolio","pantera-capital-portfolio","multicoin-capital-portfolio","paradigm-portfolio"],"max_supply":21000000,"circulating_supply":19225668,"total_supply":19225668,"platform":null,"cmc_rank":1,"self_reported_circulating_supply":null,"self_reported_market_cap":null,"tvl_ratio":null,"last_updated":"2022-12-06T07:47:00.000Z","quote":{"USD":{"price":17005.842988717406,"volume_24h":19545129367.91193,"volume_change_24h":-3.8128,"percent_change_1h":-0.0528116,"percent_change_24h":-1.93481154,"percent_change_7d":3.26184146,"percent_change_30d":-19.76752577,"percent_change_60d":-14.66455897,"percent_change_90d":-9.51778734,"market_cap":326948691361.2086,"market_cap_dominance":38.2976,"fully_diluted_market_cap":357122702763.07,"tvl":null,"last_updated":"2022-12-06T07:47:00.000Z"}}},{"id":1027,"name":"Ethereum","symbol":"ETH","slug":"ethereum","num_market_pairs":6257,"date_added":"2015-08-07T00:00:00.000Z","tags":["pos","smart-contracts","ethereum-ecosystem","coinbase-ventures-portfolio","three-arrows-capital-portfolio","polychain-capital-portfolio","binance-labs-portfolio","blockchain-capital-portfolio","boostvc-portfolio","cms-holdings-portfolio","dcg-portfolio","dragonfly-capital-portfolio","electric-capital-portfolio","f[...]
